body {
  background-color: #f0f0f0;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}

th {
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
  font-weight: normal;
  padding: 0.5em 1em;
  text-align: left;
}

td {
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
}

ul {
  background-color: #e4e4e4;
  padding: 0;
}

li {
  padding: 0.2vh 0;
  list-style: none;
}

li:nth-child(even) {
  background-color: #cecece;
}

dialog {
  text-align: center;
  width: 40%;
  border-radius: 1rem;
}

dialog:focus {
  outline: none;
}

tr.highlight td {
  font-weight: bold;
  background-color: #ccc;
}
